<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Copyright Ben Aston 2013. All rights reserved. -->
    <meta name="author" content="Ben Aston">

    <link rel="stylesheet" type="text/css" href="./stylesheets/style-reset.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-reset-wizerati.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-typography.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-layout.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-form-element.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-table.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-special.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-cube.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-wizerati.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-animation.css">

    <noscript>
        <link rel="stylesheet" type="text/css" href="./styles/style-noscript.css">
    </noscript>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link data-device="2G/3G/3GS" rel="apple-touch-icon" href="./images/appleTouchIcon57.png">
    <link data-device="4G/4GS" rel="apple-touch-icon" sizes="72x72" href="./images/appleTouchIcon72.png">
    <link data-device="iPad" rel="apple-touch-icon" sizes="114x114" href="./images/appleTouchIcon114.png">
    <link data-device="iPad landscape" rel="apple-touch-startup-image" href="./images/appleTouchStartupImage1024.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link data-device="iPad portrait" rel="apple-touch-startup-image" href="./images/appleTouchStartupImage768.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link data-device="iPhone" rel="apple-touch-startup-image" href="./images/appleTouchStartupImage320.png"
          media="screen and (max-device-width: 320px)">

    <title>Wizerati</title>
</head>
<body class="lucid-app-wrapper" data-ui-mode="greenfield">
<div id="search-panel" class="panel lucid-panel-absolute-full-height overflow-visible">
    <div id="search-form">
    </div>
    <section id="favorites-cube" class="cube-container hide">
        <div class="cube-controls">
            <a class="face-selector" href="/selectedcubeface/update?id=0"></a>
            <a class="face-selector" href="/selectedcubeface/update?id=1"></a>
            <a class="face-selector" href="/selectedcubeface/update?id=2"></a>
            <a class="face-selector" href="/selectedcubeface/update?id=3"></a>
            <a class="face-selector" href="/selectedcubeface/update?id=4"></a>
            <a class="face-selector" href="/selectedcubeface/update?id=5"></a>
        </div>
        <div class="cube">
            <figure class="top">
                <div class="favourites" data-list-to-list-destination-name="favourites" ondrop="drop(event)"
                     ondragover="allowDrop(event)">
                </div>
            </figure>
            <figure class="left">
                <div class="favourites" ondrop="drop(event)" ondragover="allowDrop(event)">
                </div>
            </figure>
            <figure class="front">
                <div class="favourites" ondrop="drop(event)" ondragover="allowDrop(event)">
                </div>
            </figure>
            <figure class="right">
                <div class="favourites" ondrop="drop(event)" ondragover="allowDrop(event)">
                </div>
            </figure>
            <figure class="bottom">
                <div class="favourites" ondrop="drop(event)" ondragover="allowDrop(event)">
                </div>
            </figure>
            <figure class="back">
                <div class="favourites" ondrop="drop(event)" ondragover="allowDrop(event)">
                </div>
            </figure>
        </div>
        <ol class="cube-face-labels">
            <li for="f-t">vfbfg</li>
            <li for="f-l">gffg</li>
            <li for="f-f">gffg</li>
            <li for="f-r">gfgfg</li>
            <li for="f-bottom">ggffg</li>
            <li for="f-back">gfgf</li>
        </ol>
    </section>
    <div class="navbar-login">
        <a class="btn-log-in" href="/login">log in</a>
    </div>
    <div class="navbar">
        <a class="btn-my-account" href="#">my account</a> | <a class="btn-log-out" href="#">log out</a>
    </div>
    <div class="legal">
        wizerati. &copy; ben aston 2013 | <a class="btn-advertisers" href="/advertisers">advertisers</a>
        <a href="/advertisers" id="advertiser-help">Advertisers start here</a>
    </div>
</div>
<ul id="result-list-panel" class="panel lucid-panel-absolute-full-height overflow-y-auto hide">

    <li class="thumbnail thumbnail-219 selected">
        <div class="thumbnail-info pictos" data-list-to-list-action="toggle" data-list-to-list-name="favourites"
             data-list-to-list-item-id="2">S
        </div>
        <h3>Senior C# Developer - Fixed Incomes</h3>

        <p>A fantastic opportunity has arisen to join a market leader in Global Corporate/Investment banking.</p>

        <p class="rate">300 GBP/day</p>

        <p class="location-and-posted">London (3 days ago)</p>
    </li>
    <li class="thumbnail thumbnail-219">
        <div class="thumbnail-info pictos" data-list-to-list-action="toggle" data-list-to-list-name="favourites"
             data-list-to-list-item-id="2">S
        </div>
        <h3>C# / ASP.Net MVC Developer, Bank, Agile team</h3>

        <p>Leading Investment Bank is looking to hire a Senior C# / ASP.Net MVC contractor to help build a brand new
            platform.</p>

        <p class="rate">300 GBP/day</p>

        <p class="location-and-posted">London (3 days ago)</p>
    </li>
    <li class="thumbnail thumbnail-219">
        <div class="thumbnail-info pictos" data-list-to-list-action="toggle" data-list-to-list-name="favourites"
             data-list-to-list-item-id="2">S
        </div>
        <h3>C# Risk Developer</h3>

        <p class="rate">Our Tier 1 investment banking client is looking for an experienced .Net developer, to work on an
            new risk platform.</p>

        <p class="rate">300 GBP/day</p>

        <p class="location-and-posted">London (3 days ago)</p>
    </li>
</ul>
<div id="items-of-interest-panel" class="panel lucid-columns-full-height">
<!-- selected item goes here -->
<article class="selected-item overflow-y-scroll lucid-column">
    <div id="top1" class="in-page-anchor-target"></div>
    <section class="menu">
        <button type="button" data-list-to-list-name="favourites" data-list-to-list-action="toggle"
                data-list-to-list-item-id="1" class="btn btn-40 btn-primary" title="Add To Favourites">S
        </button>
        <button type="button" data-list-to-list-name="favourites" data-list-to-list-action="add"
                data-list-to-list-item-id="1" class="btn btn-40 btn-primary" title="Block">-
        </button>
        <button type="button" data-list-to-list-item-id="1" class="btn btn-40 btn-primary" title="Mark as Applied">
            2
        </button>
        <button type="button" data-list-to-list-item-id="1" class="btn btn-40 btn-primary" title="Pin">@</button>
    </section>
    <section>
        <h1>Cheetara Kat</h1>

        <h3>New York (<i>Not Currently Available</i>)</h3>

        <h3>+44 (0)7742157185 | ben@bj.ma</h3>

        <h2>Personal Battle Assistant</h2>
        <section>
            <article class="itemSummary">
                <blockquote>
                    Cheetara is a member of the ThunderCats and the third to join. She is the elder of the two
                    females in the group, the younger being WilyKit. She is a cleric whose skills take advantage of
                    her immense speed. She wields a staff, but is also adapted to fighting unarmed.
                </blockquote>
            </article>
        </section>
        <section>
            <hr>
            <h2>Technologies</h2>
            <article style="padding:0;margin:0;">
                <p><strong style="font-weight:bold;">Staff</strong></p>
            </article>
        </section>
        <section>
            <hr>
            <h2>Experience</h2>
            <article>
                <h3>Senior Developer</h3>
                <h4 style="font-style:italic;">JustGiving</h4>
                <h5>Mar 11- Mar 12</h5>

                <p style="margin-top:5px;">blah2 blah2blah blahblah blahblah2 blah2blah blahblah blahblah2 blah2blah
                    blahblah blah</p>
            </article>
            <article>
                <h3>Senior Developer</h3>
                <h4 style="font-style:italic;">JustGiving</h4>
                <h5>Mar 11- Mar 12</h5>

                <p style="margin-top:5px;">blah2 blah2blah blahblah blahblah2 blah2blah blahblah blahblah2 blah2blah
                    blahblah blah</p>
            </article>
        </section>
        <section>
            <hr/>
            <h2>Education</h2>
            <article>
                <h4></h4>
                <h5></h5>

                <p></p>
            </article>
        </section>
        <section>
            <hr>
            <h2>Open Source</h2>
            <article>
                <h4>NFeature</h4>

                <p><a href="github.com">github.com</a></p>
            </article>
        </section>
        <section>
            <hr>
            <h2>Currently Interested In</h2>
            <article>
                <p>JavaScript</p>
            </article>
        </section>
        <section>
            <hr/>
            <h2>Selected Books</h2>
            <article>
                <p>The Art of Programming, JK Tolkien</p>
            </article>
        </section>
        <section>
            <article>
                <hr>
                <a href="#top1" class="back-to-top">Back to top</a>
            </article>
        </section>
    </section>
</article>

<!-- pinned items goes here -->
<article class="selected-item overflow-y-scroll lucid-column">
    <section class="menu">
        <ul class="pips reset">
            <li><a href="#">Pinned Item 1</a></li>
            <li><a href="#">Pinned Item 2</a></li>
            <li><a href="#">Pinned Item 3</a></li>
            <li><a href="#">Pinned Item 4</a></li>
            <li><a href="#">Pinned Item 5</a></li>
            <li><a href="#">Pinned Item 6</a></li>
        </ul>
        <button type="button" data-list-to-list-name="favourites" data-list-to-list-action="toggle"
                data-list-to-list-item-id="1" class="btn btn-40 btn-primary">S
        </button>
        <button type="button" data-list-to-list-name="favourites" data-list-to-list-action="add"
                data-list-to-list-item-id="1" class="btn btn-40 btn-primary">-
        </button>
        <button type="button" data-list-to-list-item-id="1" class="btn btn-40 btn-primary">2</button>
        <button type="button" data-list-to-list-item-id="1" class="btn btn-40 btn-primary checked" title="Pin">@
        </button>
    </section>
    <section>
        <h1>Software Architect C#/.Net/Silverlight - Banking</h1>

        <h3>Zurich</h3>

        <h3>RMIT Professional Resources AG | Gerard Scharm</h3>

        <h2>Software Architect</h2>
        <section>
            <article class="itemSummary">
                <blockquote>
                    Software Architect - C#/.Net/Silverlight - Private Banking - Our client, a major Financial
                    Services company, is currently looking for an experienced and sharp minded C# .NET Architect
                    with a strong Banking background and excellent technical skills.
                </blockquote>
            </article>
        </section>
        <section>
            <hr>
            <h2>Technologies</h2>
            <article style="padding:0;margin:0;">
                <p><strong style="font-weight:bold;">Staff</strong></p>
            </article>
        </section>
        <section>
            <hr>
            <h2>Experience</h2>
            <article>
                <h3>Senior Developer</h3>
                <h4 style="font-style:italic;">JustGiving</h4>
                <h5>Mar 11- Mar 12</h5>

                <p style="margin-top:5px;">blah2 blah2blah blahblah blahblah2 blah2blah blahblah blahblah2 blah2blah
                    blahblah blah</p>
            </article>
            <article>
                <h3>Senior Developer</h3>
                <h4 style="font-style:italic;">JustGiving</h4>
                <h5>Mar 11- Mar 12</h5>

                <p style="margin-top:5px;">blah2 blah2blah blahblah blahblah2 blah2blah blahblah blahblah2 blah2blah
                    blahblah blah</p>
            </article>
        </section>
        <section>
            <hr/>
            <h2>Education</h2>
            <article>
                <h4></h4>
                <h5></h5>

                <p></p>
            </article>
        </section>
        <section>
            <hr>
            <h2>Open Source</h2>
            <article>
                <h4>NFeature</h4>

                <p><a href="github.com">github.com</a></p>
            </article>
        </section>
        <section>
            <hr>
            <h2>Currently Interested In</h2>
            <article>
                <p>JavaScript</p>
            </article>
        </section>
        <section>
            <hr/>
            <h2>Selected Books</h2>
            <article>
                <p>The Art of Programming, JK Tolkien</p>
            </article>
        </section>
        <section>
            <article>
                <hr>
                <a href="#" class="back-to-top">Back to top</a>
            </article>
        </section>
    </section>
</article>
</div>
<div id="item-management-panel" class="panel " data-state="intro">
    <div class="centered-relative-container-450">
        <div class="intro">
            <h1>Ad Management</h1>
            You have the following ads:
            <ul>
                <li>Foo</li>
                <li>Bar</li>
            </ul>
        </div>
        <div class="create-ad">
            <h1>New Ad</h1>
            <input id="title" class="field" type="text" name="" placeholder="ad title" required/>
            <input id="location" class="field" type="text" placeholder="town/city" name=""/>
            <input id="start-date" class="field" type="date" placeholder="start date" name="name"/>
            <input id="duration" class="field" type="number" placeholder="contract duration in months" name="name"/>
            <input id="ad-publication-date" class="field" type="datetime" placeholder="publication date" name="name"/>
            <textarea id="description"></textarea>

            <div class="form-button-container">
                <input type="button" class="btn btn-80 btn-cancel" value="*"/>
                <input type="button" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
    </div>
</div>
<div id="purchase-panel" class="panel" data-state="intro">
    <div class="centered-relative-container-450">
        <div class="intro">
            <h1>Post a job ad in three easy steps</h1>

            <ol>
                <li>Log in or register</li>
                <li>Pay</li>
                <li>Create your ad</li>
            </ol>
            <ul class="customer-types">
                <li class="customer-type">
                    <p class="label-new-customer">I am a new customer</p>
                    <label id="btn-new-customer" for="is-new-customer" class="btn btn-80 btn-primary btn-with-notch"
                           alt="New Customer" title="New Customer">&</label>
                </li>
                <li class="customer-type">
                    <p class="label-existing-customer">I am an existing customer</p>
                    <label id="btn-existing-customer" for="is-existing-customer"
                           class="btn btn-80 btn-primary btn-with-notch" alt="Existing Customer"
                           title="Existing Customer">U</label>
                </li>
            </ul>
        </div>
        <div class="register">
            <h1>register</h1>
            <label for="name">My name is: </label>
            <input id="name" class="field" type="text" name="name" placeholder="my name is"/>
            <label for="email-address">Email address: </label>
            <input id="email-address" class="field" type="text" name="email-address" placeholder="email address"/>
            <label for="email-address2">Type it again:</label>
            <input id="email-address2" class="field" type="text" name="email-address2"
                   placeholder="re-type email address"/>
            <label for="password">My password is:</label>
            <input id="password" class="field" type="password" placeholder="password" name="name"/>
            <label for="password2">Type it again: </label>
            <input id="password2" class="field" type="password" placeholder="re-type password" name="name"/>

            <div class="form-button-container">
                <input type="button" class="btn btn-80 btn-cancel" value="*"/>
                <input type="button" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
        <div class="log-in">
            <h1>log in</h1>
            <input id="email-address" class="field" type="text" name="email-address" placeholder="email address"/>
            <input id="password" class="field" type="password" placeholder="password" name="name"/>

            <div class="form-button-container">
                <input type="button" class="btn btn-80 btn-cancel" value="*"/>
                <input type="button" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
        <div class="payment">
            <h1>payment</h1>
            TODO: stripe
            <div class="form-button-container">
                <input type="button" class="btn btn-80 btn-cancel" value="*"/>
                <input type="button" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
    </div>
</div>
<div id="log-in-panel" class="panel" data-state="log-in">
    <div class="centered-relative-container-450">
        <div class="log-in">
            <h1>log in
                <div class="heading-aside">(<a href="#">register here</a>)</div>
            </h1>
            <p class="message">The username or password you have entered is incorrect.</p>
            <input id="email-address" class="field" type="text" name="email-address" placeholder="email address"/>
            <label for="email-address" class="meta-info">e.g. example@example.com</label>
            <input id="password" class="field" type="password" placeholder="password" name="name"/>

            <div class="form-button-container">
                <input type="button" class="btn btn-80 btn-cancel" value="*"/>
                <input type="button" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
        <div class="register">
            <h1>register</h1>
            <label for="name">My name is: </label>
            <input id="name" class="field" type="text" name="name" placeholder="my name is"/>
            <label for="email-address">Email address: </label>
            <input id="email-address" class="field" type="text" name="email-address" placeholder="email address"/>
            <label for="email-address2">Type it again:</label>
            <input id="email-address2" class="field" type="text" name="email-address2"
                   placeholder="re-type email address"/>
            <input id="password" class="field" type="password" placeholder="password" name="name"/>
            <label for="password" class="meta-info">must be at least 6 characters long</label>
            <label for="password2">Type it again: </label>
            <input id="password2" class="field" type="password" placeholder="re-type password" name="name"/>

            <div class="form-button-container">
                <input type="button" class="btn btn-80 btn-cancel" value="*"/>
                <input type="button" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
        <div class="payment">
            <h1>payment</h1>
            TODO: stripe
            <div class="form-button-container">
                <input type="button" class="btn btn-80 btn-cancel" value="*"/>
                <input type="button" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
    </div>
</div>
<h1 class="logo">wizerati</h1>

<h2 class="logo">UK IT contract jobs search</h2>

<!--<div class="vertical-line"></div>-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
<script src="http://code.jquery.com/jquery-1.7.2.js"></script>
<script src="./javascripts/vendor/tiny-pub-sub.js"></script>
<script src="./javascripts/vendor/_cookie.js"></script>
<script src="./javascripts/vendor/fast-click.js"></script>

<script src="./javascripts/vendor/invertebrate.js/arrayItemMove.js"></script>
<script src="./javascripts/vendor/invertebrate.js/invertebrate.js"></script>
<script src="./javascripts/vendor/invertebrate.js/app.js"></script>
<script src="./javascripts/vendor/invertebrate.js/config.js"></script>
<script src="./javascripts/vendor/invertebrate.js/templateServerSvc.js"></script>
<script src="./javascripts/vendor/invertebrate.js/model.js"></script>
<script src="./javascripts/vendor/invertebrate.js/view.js"></script>
<script src="./javascripts/vendor/invertebrate.js/router.js"></script>
<script src="./javascripts/vendor/invertebrate.js/env.js"></script>

<script src="./javascripts/application/wizerati.js"></script>

<script src="./javascripts/application/wizerati.core/services/CroniclService.js"></script>
<script src="./javascripts/application/wizerati.core/services/LogInService.js"></script>
<script src="./javascripts/application/wizerati.core/services/SearchService.js"></script>
<script src="./javascripts/application/wizerati.core/services/CookieService.js"></script>
<script src="./javascripts/application/wizerati.core/services/AuthenticationService.js"></script>

<script src="./javascripts/application/wizerati.core/config.js"></script>

<script src="./javascripts/application/wizerati.core/models/SearchFormModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/ResultListModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/UIRootModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/LoginPanelModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/FavoritesCubeModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/SelectedCubeFaceModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/SelectedItemModel.js"></script>

<script src="./javascripts/application/wizerati.core/views/SearchFormView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ResultListView.js"></script>
<script src="./javascripts/application/wizerati.core/views/SearchFormView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ContractView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ContractFavoriteView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ContractorView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ContractorFavoriteView.js"></script>
<script src="./javascripts/application/wizerati.core/views/UIRootView.js"></script>
<script src="./javascripts/application/wizerati.core/views/LoginPanelView.js"></script>
<script src="./javascripts/application/wizerati.core/views/FavoritesCubeView.js"></script>

<script src="./javascripts/application/wizerati.core/controllers/SessionController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/LoginController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/HomeController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/AdvertisersController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/SearchController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/SelectedItemController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/FavoritesController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/SelectedCubeFaceController.js"></script>

<script src="./javascripts/application/wizerati.core/factories/ResultViewFactory.js"></script>
<script src="./javascripts/application/wizerati.core/factories/FavoriteViewFactory.js"></script>

<script src="./javascripts/application/wizerati.core/caches/ItemCache.js"></script>

<script src="./javascripts/application/wizerati.core/repositories/ItemRepository.js"></script>

<script src="./javascripts/application/modules.js"></script>
<script src="./javascripts/application/wizerati.core/App.js"></script>
<script src="./javascripts/application/appStart.js"></script>

<div id="no-script">
    JavaScript must be enabled to use this website.
</div>
</body>
</html>