<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Copyright Ben Aston 2014. All rights reserved. -->
    <meta name="author" content="Ben Aston">

    <link rel="stylesheet" type="text/css" href="./stylesheets/style-reset.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-reset-wizerati.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-typography.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-layout.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-form-element.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-table.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-special.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-cube.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-wizerati.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style-animation.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/lucid-style-buttons.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/lucid-style-form-elements.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/lucid-style-dialogs.css">

    <noscript>
        <link rel="stylesheet" type="text/css" href="./stylesheets/style-noscript.css">
    </noscript>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link data-device="2G/3G/3GS" rel="apple-touch-icon" href="./images/appleTouchIcon57.png">
    <link data-device="4G/4GS" rel="apple-touch-icon" sizes="72x72" href="./images/appleTouchIcon72.png">
    <link data-device="iPad" rel="apple-touch-icon" sizes="114x114" href="./images/appleTouchIcon114.png">
    <link data-device="iPad landscape" rel="apple-touch-startup-image" href="./images/appleTouchStartupImage1024.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link data-device="iPad portrait" rel="apple-touch-startup-image" href="./images/appleTouchStartupImage768.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link data-device="iPhone" rel="apple-touch-startup-image" href="./images/appleTouchStartupImage320.png"
          media="screen and (max-device-width: 320px)">

    <title>Wizerati</title>
</head>
<body class="lucid-app-wrapper modal-container" data-ui-mode="-1">
<div class="main modal-bg">
    <div id="search-panel" class="panel lucid-panel-fixed-full-height overflow-visible" data-mode="0">
        <a class="handle" href="/searchpanelmode/update?mode=1"><span class="handle-icon">4</span></a>
        <div id="search-form">
        </div>
        <section id="favorites-cube" class="cube-container hide">
            <div class="cube-controls">
                <a class="face-selector" href="/selectedcubeface/update?id=0"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
                <a class="face-selector" href="/selectedcubeface/update?id=1"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
                <a class="face-selector" href="/selectedcubeface/update?id=2"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
                <a class="face-selector" href="/selectedcubeface/update?id=3"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
                <a class="face-selector" href="/selectedcubeface/update?id=4"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
                <a class="face-selector" href="/selectedcubeface/update?id=5"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
            </div>
            <div class="cube">
                <figure class="top">
                    <p class="face-empty-message">you have no favourites on this face</p>
                    <div class="favourites">
                    </div>
                </figure>
                <figure class="left">
                    <p class="face-empty-message">you have no favourites on this face</p>
                    <div class="favourites">
                    </div>
                </figure>
                <figure class="front">
                    <p class="face-empty-message">you have no favourites on this face</p>
                    <div class="favourites">
                    </div>
                </figure>
                <figure class="right">
                    <p class="face-empty-message">you have no favourites on this face</p>
                    <div class="favourites">
                    </div>
                </figure>
                <figure class="bottom">
                    <p class="face-empty-message">you have no favourites on this face</p>
                    <div class="favourites">
                    </div>
                </figure>
                <figure class="back">
                    <p class="face-empty-message">you have no favourites on this face</p>
                    <div class="favourites">
                    </div>
                </figure>
            </div>
            <ol class="cube-face-labels">
                <li for="f-t">

                </li>
                <li for="f-l"></li>
                <li for="f-f"></li>
                <li for="f-r"></li>
                <li for="f-bottom"></li>
                <li for="f-back"></li>
            </ol>
        </section>
        <div class="navbar-login">
            <a class="btn-log-in" href="/login">log in</a>
        </div>
        <div class="navbar">
            <a class="btn-my-account" href="/user/show?id=userid">my account</a> | <a class="btn-log-out" href="/session/destroy">log out</a>
        </div>
        <div class="legal">
            wizerati. &copy; 2013 ben aston | <a href="/purchasepanel?tab=0" class="btn-advertisers">recruiters</a>
            <a href="/purchasepanel?tab=0" id="advertiser-help">Recruiters start here</a>
        </div>
    </div>
    <ul id="result-list-panel" class="panel lucid-panel-absolute-full-height overflow-y-auto">
    </ul>
    <div id="items-of-interest-panel" class="panel lucid-columns-full-height">
    </div>
    <h1 class="logo">wizerati</h1>
    <h2 class="logo">UK IT contract jobs search</h2>
</div>
<div id="item-management-panel" class="panel " data-state="intro">
    <div class="centered-relative-container-450">
        <div class="intro">
            <h1>Ad Management</h1>
            You have the following ads:
            <ul>
                <li>Foo</li>
                <li>Bar</li>
            </ul>
        </div>
        <div class="create-ad">
            <h1>New Ad</h1>
            <input id="title" class="field" type="text" name="" placeholder="ad title" required/>
            <input id="location" class="field" type="text" placeholder="town/city" name=""/>
            <input id="start-date" class="field" type="date" placeholder="start date" name="name"/>
            <input id="duration" class="field" type="number" placeholder="contract duration in months" name="name"/>
            <input id="ad-publication-date" class="field" type="datetime" placeholder="publication date" name="name"/>
            <textarea id="description"></textarea>

            <div class="form-button-container">
                <input type="button" class="btn btn-80 btn-cancel" value="*"/>
                <input type="button" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
    </div>
</div>
<div id="account-activation-panel" class="panel" data-state="0">
    <div class="centered-relative-container-450">
        <div class="activate">
            <h1>activate your account</h1>
            <div class="relative">
                <input id="activation-key" class="field" type="text" name="activation-key" placeholder="activation key"/>
                <label for="activation-key" class="meta-info">This is the key from the email we sent you.</label>
            </div>
            <div class="form-button-container">
                <a href="/accountactivationpanel/destroy" class="btn btn-80 btn-cancel">*</a>
                <input type="submit" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
    </div>
</div>
<div id="purchase-panel" class="panel" data-state="0">
    <div class="centered-relative-container-450">
        <div class="intro">
            <h1>Post a job ad in three easy steps</h1>
            <ol class="breadcrumbs">
                <li><span class="first-letter">1.</span> Log in or register</li>
                <li><span class="pictos">]</span></li>
                <li><span class="first-letter">2.</span> Pay</li>
                <li><span class="pictos">]</span></li>
                <li><span class="first-letter">3.</span> Create your ad</li>
            </ol>
            <ul class="customer-types">
                <li class="customer-type">
                    <p class="label-existing-customer">I am an existing customer</p>
                    <a href="/loginpanel?destination=/purchasepanel?tab=2" id="btn-existing-customer"
                       class="btn btn-80 btn-primary btn-with-notch" alt="Existing Customer"
                       title="Existing Customer">U</a>
                </li>
                <li class="customer-type">
                    <p class="label-new-customer">I am a new customer</p>
                    <a  href="/purchasepanel?tab=2" id="btn-new-customer" class="btn btn-80 btn-primary btn-with-notch"
                           alt="New Customer" title="New Customer">&</a>
                </li>
            </ul>
        </div>
        <div class="register">
            <form action="/purchasepanelaccounts/create" method="POST">
            <h1>register</h1>
            <ol class="breadcrumbs">
                <li><span class="first-letter">1.</span> Log in or register</li>
                <li><span class="pictos">]</span></li>
                <li><span class="first-letter">2.</span> Pay</li>
                <li><span class="pictos">]</span></li>
                <li><span class="first-letter">3.</span> Create your ad</li>
            </ol>
            <div class="relative">
                <input id="purchase-register-name" class="field" type="text" name="name" placeholder="my name is"/>
                <label for="purchase-register-name" class="meta-info">e.g. Joe</label>
            </div>
            <div class="relative">
                <input id="purchase-register-email-address" class="field" type="email" name="email-address" placeholder="email address"/>
                <label for="purchase-register-email-address" class="meta-info">e.g. joe@example.com.<br/>An email will be sent to this address to verify your account. </label>
            </div>
            <input id="purchase-register-email-address2" class="field" type="email" name="email-address2" placeholder="re-type email address"/>

            <div class="form-button-container">
                <a href="/purchasepanel/destroy" class="btn btn-80 btn-cancel">*</a>
                <input type="submit" class="btn btn-80 btn-success" value=""/>
                <span class="pictos button-label">3</span>
            </div>
            </form>
        </div>
        <div class="payment">
            <h1>payment</h1>
            TODO: stripe
            <div class="form-button-container">
                <a href="/purchasepanel/destroy" class="btn btn-80 btn-cancel">*</a>
                <input type="button" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
    </div>
</div>
<div id="log-in-panel" class="panel" data-state="log-in">
    <div class="centered-relative-container-450">
        <div class="log-in">
            <h1>log in
                <div class="heading-aside">(<a href="#">register here</a>)</div>
            </h1>
            <p class="message">The username or password you have entered is incorrect.</p>
            <input id="email-address" class="field" type="text" name="email-address" placeholder="email address"/>
            <label for="email-address" class="meta-info">e.g. example@example.com</label>
            <input id="password" class="field" type="password" placeholder="password" name="name"/>

            <div class="form-button-container">
                <input type="button" class="btn btn-80 btn-cancel" value="*"/>
                <input type="button" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
        <div class="register">
            <h1>register</h1>
            <label for="name">My name is: </label>
            <input id="name" class="field" type="text" name="name" placeholder="my name is"/>
            <label for="register-email-address">Email address: </label>
            <input id="register-email-address" class="field" type="text" name="email-address" placeholder="email address"/>
            <label for="register-email-address" class="meta-info">e.g. example@example.com</label>

            <label for="register-email-address2">Type it again:</label>
            <input id="register-email-address2" class="field" type="text" name="email-address2" placeholder="re-type email address"/>
            <label for="register-email-address2" class="meta-info">An email will be sent to this email address, so it should be correct.</label>
            <input id="password" class="field" type="password" placeholder="password" name="name"/>
            <label for="password" class="meta-info">must be at least 6 characters long</label>
            <label for="password2">Type it again: </label>
            <input id="password2" class="field" type="password" placeholder="re-type password" name="name"/>

            <div class="form-button-container">
                <input type="button" class="btn btn-80 btn-cancel" value="*"/>
                <input type="button" class="btn btn-80 btn-success" value="3"/>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-full-screen">
    <div class="modal-content-container centered medium">
        <div class="modal-content-panel">
            <h1>This is a modal dialog</h1>
            <p>You can write a message for your users here.</p>
            <ul class="form-button-container">
                <li class="centered-text form-button-container-item">
                    <button class="btn btn-80" onclick="javascript:document.querySelector('.modal-container').classList.toggle('modal-visible')">*</button>
                    <div class="label">cancel</div>
                </li>
                <li class="centered-text form-button-container-item">
                    <button class="btn btn-80 btn-success" onclick="javascript:document.querySelector('.modal-container').classList.toggle('modal-visible')">3</button>
                    <div class="label">ok</div>
                </li>
            </ul>

        </div>
    </div>
</div>


<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
<script src="http://code.jquery.com/jquery-1.7.2.js"></script>
<script src="./javascripts/vendor/tiny-pub-sub.js"></script>
<script src="./javascripts/vendor/_cookie.js"></script>
<!--<script src="./javascripts/vendor/fast-click.js"></script>-->

<script src="./javascripts/vendor/invertebrate.js/arrayItemMove.js"></script>
<script src="./javascripts/vendor/invertebrate.js/invertebrate.js"></script>
<script src="./javascripts/vendor/invertebrate.js/app.js"></script>
<script src="./javascripts/vendor/invertebrate.js/config.js"></script>
<script src="./javascripts/vendor/invertebrate.js/TemplateUriHelper.js"></script>
<script src="./javascripts/vendor/invertebrate.js/model.js"></script>
<script src="./javascripts/vendor/invertebrate.js/view.js"></script>
<script src="./javascripts/vendor/invertebrate.js/router.js"></script>
<script src="./javascripts/vendor/invertebrate.js/env.js"></script>

<script src="./javascripts/application/wizerati.js"></script>

<script src="./javascripts/application/wizerati.core/services/AuthenticationService.js"></script>
<script src="./javascripts/application/wizerati.core/services/CookieService.js"></script>
<script src="./javascripts/application/wizerati.core/services/CroniclService.js"></script>
<script src="./javascripts/application/wizerati.core/services/LogInService.js"></script>
<script src="./javascripts/application/wizerati.core/services/SearchService.js"></script>
<script src="./javascripts/application/wizerati.core/services/AccountService.js"></script>

<script src="./javascripts/application/wizerati.core/clients/WizeratiClient.js"></script>

<script src="./javascripts/application/wizerati.core/config.js"></script>

<script src="./javascripts/application/wizerati.core/models/FavoritesCubeModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/ItemsOfInterestModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/LoginPanelModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/ResultListModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/SearchFormModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/SelectedCubeFaceModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/SelectedItemModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/UIRootModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/HiddenItemsModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/ActionedItemsModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/PurchasePanelModel.js"></script>
<script src="./javascripts/application/wizerati.core/models/SearchPanelModel.js"></script>

<script src="./javascripts/application/wizerati.core/views/ContractFavoriteView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ContractItemOfInterestView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ContractorFavoriteView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ContractorItemOfInterestView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ContractorResultView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ContractResultView.js"></script>
<script src="./javascripts/application/wizerati.core/views/FavoritesCubeView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ItemsOfInterestView.js"></script>
<script src="./javascripts/application/wizerati.core/views/LoginPanelView.js"></script>
<script src="./javascripts/application/wizerati.core/views/ResultListView.js"></script>
<script src="./javascripts/application/wizerati.core/views/SearchFormView.js"></script>
<script src="./javascripts/application/wizerati.core/views/UIRootView.js"></script>
<script src="./javascripts/application/wizerati.core/views/PurchasePanelView.js"></script>
<script src="./javascripts/application/wizerati.core/views/SearchPanelView.js"></script>

<script src="./javascripts/application/wizerati.core/controllers/AdvertisersController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/FavoritesController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/HomeController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/ItemsOfInterestController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/LoginController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/SearchController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/SelectedCubeFaceController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/SelectedItemController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/SessionController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/HiddenItemsController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/ActionedItemsController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/PurchasePanelController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/AccountActivationController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/AccountActivationPanelController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/PurchasePanelAccountsController.js"></script>
<script src="./javascripts/application/wizerati.core/controllers/SearchPanelModeController.js"></script>

<script src="./javascripts/application/wizerati.core/factories/FavoriteViewFactory.js"></script>
<script src="./javascripts/application/wizerati.core/factories/ItemOfInterestViewFactory.js"></script>
<script src="./javascripts/application/wizerati.core/factories/ResultViewFactory.js"></script>
<script src="./javascripts/application/wizerati.core/factories/WizeratiClientRequestFactory.js"></script>

<script src="./javascripts/application/wizerati.core/caches/ItemCache.js"></script>

<script src="./javascripts/application/wizerati.core/entities/AccountEntity.js"></script>

<script src="./javascripts/application/wizerati.core/repositories/ItemRepository.js"></script>

<script src="./javascripts/application/modules.js"></script>
<script src="./javascripts/application/wizerati.core/App.js"></script>
<script src="./javascripts/application/appStart.js"></script>

<div id="no-script">
    JavaScript must be enabled to use this website.
</div>
</body>
</html>