<% try { %>
<a href="/selecteditem/update?id=<%=model.id%>" class="<%=model.isHidden ? 'hidden' : '' %>">
    <h3><%= model.title %></h3>
    <p class="rate"><%= model.rateLower %> GBP/day</p>
    <p class="location-and-posted"><%= model.location %></p>
    <% if(model.isActioned) { %>
    <div class="thumbnail-info pictos actioned" title="Applied">
        2
    </div>
    <% } %>
    <% if(model.isItemOfInterest) { %>
    <div class="thumbnail-info pictos item-of-interest" title="Pinned">
        @
    </div>
    <% } %>
</a>
<%
} catch(e) {
throw "template exception: favorite. " + e;
}%>