<input id="f-t" name="favourites-panel" type="radio" checked="checked">
<input id="f-l" name="favourites-panel" type="radio">
<input id="f-f" name="favourites-panel" type="radio">
<input id="f-r" name="favourites-panel" type="radio">
<input id="f-bottom" name="favourites-panel" type="radio">
<input id="f-back" name="favourites-panel" type="radio">

<!-- clicking on the active panel in the cube controls should make the cube wobble -->
<div class="cube-controls">
    <label for="f-t" title="<%=model.panel1Name%>"></label>
    <label for="f-l" title="<%=model.panel2Name%>"></label>
    <label for="f-f" title="<%=model.panel3Name%>"></label>
    <label for="f-r" title="<%=model.panel4Name%>"></label>
    <label for="f-bottom" title="<%=model.panel5Name%>"></label>
    <label for="f-back" title="<%=model.panel6Name%>"></label>
</div>
<div class="cube">
    <figure class="front">
        <div class="favourites" ondrop="drop(event)" ondragover="allowDrop(event)">
        </div>
    </figure>
    <figure class="back">
        <div class="favourites" ondrop="drop(event)" ondragover="allowDrop(event)">
        </div>
    </figure>
    <figure class="right">
        <div class="favourites" ondrop="drop(event)" ondragover="allowDrop(event)">
        </div>
    </figure>
    <figure class="left">
        <div class="favourites" ondrop="drop(event)" ondragover="allowDrop(event)">
        </div>
    </figure>
    <figure class="top">
        <div class="favourites" data-list-to-list-destination-name="favourites" ondrop="drop(event)"
             ondragover="allowDrop(event)">
            <!--<div class="hover" data-list-to-list-item-id="1">-->
                <!--<div class="thumbnail thumbnail-108 selected">-->
                <!--<h3>C# Developer / Technical Lead</h3>-->
                <!--<h4>475-500 GBP/day</h4>-->
                <!--<h4>London</h4>-->
            <!--</div>-->
        </div>
    </figure>
    <figure class="bottom">
        <div class="favourites" ondrop="drop(event)" ondragover="allowDrop(event)">
        </div>
    </figure>
</div>
<ol class="cube-face-labels">
    <li for="f-t"><%=model.panel1Name%></li>
    <li for="f-l"><%=model.panel2Name%></li>
    <li for="f-f"><%=model.panel3Name%></li>
    <li for="f-r"><%=model.panel4Name%></li>
    <li for="f-bottom"><%=model.panel5Name%></li>
    <li for="f-back"><%=model.panel6Name%></li>
</ol>