<% try { %>
<a href="/selecteditem/update?id=<%=model.id%>" class="<%=model.isHidden ? 'hidden' : '' %>">
    <h3><%= model.title %></h3>
    <p class="rate"><%= model.rateLower %> GBP/day</p>
    <p class="location-and-posted"><%= model.location %></p>
    <% if(model.isActioned) { %>
    <a class="thumbnail-info pictos actioned" href="/actioneditems/<%=!model.isActioned ? 'create' : 'destroy' %>?id=<%=model.id%>" title="One-click apply">
        2
    </a>
    <% } %>
</a>
<%
} catch(e) {
throw "template exception: favorite. " + e;
}%>