<% try { %>
    <div class="item-of-interest-width-maintainer">
    <div id="top1" class="in-page-anchor-target"></div>
    <section class="menu">
        <ul class="pips reset <% if(!model.isPinned) {%>invisible<%}%>">
            <li><a href="#">Pinned Item 1</a></li>
            <li><a href="#">Pinned Item 2</a></li>
            <li><a href="#">Pinned Item 3</a></li>
            <li><a href="#">Pinned Item 4</a></li>
            <li><a href="#">Pinned Item 5</a></li>
            <li><a href="#">Pinned Item 6</a></li>
        </ul>

        <a href="/favorites/<%=model.isFavorite ? 'destroy' : 'create' %>?id=<%=model.id%>" class="btn btn-40 btn-primary <% if(!model.isFavoritable && !model.isFavorite) {%>disabled<%}%> <%=model.isFavorite ? 'is-favorite' : '' %>" title="<% if(model.isFavorite) {%>Remove favorite<%} else if(model.isFavoritable){ %> Add To Favourites <% } else { %>You have maxed out your favorites<% } %>">S
        </a>
        <a href="/hiddenitems/<%=!model.isHidden ? 'create' : 'destroy' %>?id=<%=model.id%>" class="btn btn-40 btn-primary" title="Hide this from future results">-
        </a>
        <a href="/actioneditems/<%=!model.isActioned ? 'create' : 'destroy' %>?id=<%=model.id%>" class="btn btn-40 btn-primary" title="Mark as Applied">
            2
        </a>
        <a href="/itemsofinterest/<%=!model.isPinned ? 'create' : 'destroy' %>?id=<%=model.id%>" class="btn btn-40 btn-primary <%=model.isPinnable ? '' : 'disabled' %> <% if(model.isPinned) {%>checked<%} %> " title="<%=model.isPinnable ? 'Pin' : 'This item is already pinned' %>">@</a>
    </section>
    <section>
        <h1><%= model.title %></h1>

        <h3><%= model.location %> (<i>Not Currently Available</i>)</h3>

        <h3>+44 (0)7742157185 | ben@bj.ma</h3>

        <h2>Personal Battle Assistant</h2>
        <section>
            <article class="itemSummary">
                <blockquote>
                    <%= model.tld %>
                </blockquote>
            </article>
        </section>
        <section>
            <hr>
            <h2>Summary</h2>
            <article style="padding:0;margin:0;">
                <%= model.summary %>
            </article>
        </section>
        <section>
            <hr>
            <h2>Skills</h2>
            <article style="padding:0;margin:0;">
                <%= model.skills %>
            </article>
        </section>
        <section>
            <article>
                <hr>
                <a href="#top1" class="back-to-top">Back to top</a>
            </article>
        </section>
    </section>
    </div>
<%
} catch(e) {
throw "template exception: item-of-interest. " + e;
}%>