<article class="selected-item overflow-y-scroll lucid-column">
    <div id="top1" class="in-page-anchor-target"></div>
    <section class="menu">
        <button type="button" data-list-to-list-name="favourites" data-list-to-list-action="toggle"
                data-list-to-list-item-id="1" class="btn btn-40 btn-primary" title="Add To Favourites">S
        </button>
        <button type="button" data-list-to-list-name="favourites" data-list-to-list-action="add"
                data-list-to-list-item-id="1" class="btn btn-40 btn-primary" title="Block">-
        </button>
        <button type="button" data-list-to-list-item-id="1" class="btn btn-40 btn-primary" title="Mark as Applied">
            2
        </button>
        <button type="button" data-list-to-list-item-id="1" class="btn btn-40 btn-primary" title="Pin">@</button>
    </section>
    <section>
        <h1>Cheetara Kat</h1>

        <h3>New York (<i>Not Currently Available</i>)</h3>

        <h3>+44 (0)7742157185 | ben@bj.ma</h3>

        <h2>Personal Battle Assistant</h2>
        <section>
            <article class="itemSummary">
                <blockquote>
                    Cheetara is a member of the ThunderCats and the third to join. She is the elder of the two
                    females in the group, the younger being WilyKit. She is a cleric whose skills take advantage of
                    her immense speed. She wields a staff, but is also adapted to fighting unarmed.
                </blockquote>
            </article>
        </section>
        <section>
            <hr>
            <h2>Technologies</h2>
            <article style="padding:0;margin:0;">
                <p><strong style="font-weight:bold;">Staff</strong></p>
            </article>
        </section>
        <section>
            <hr>
            <h2>Experience</h2>
            <article>
                <h3>Senior Developer</h3>
                <h4 style="font-style:italic;">JustGiving</h4>
                <h5>Mar 11- Mar 12</h5>

                <p style="margin-top:5px;">blah2 blah2blah blahblah blahblah2 blah2blah blahblah blahblah2 blah2blah
                    blahblah blah</p>
            </article>
            <article>
                <h3>Senior Developer</h3>
                <h4 style="font-style:italic;">JustGiving</h4>
                <h5>Mar 11- Mar 12</h5>

                <p style="margin-top:5px;">blah2 blah2blah blahblah blahblah2 blah2blah blahblah blahblah2 blah2blah
                    blahblah blah</p>
            </article>
        </section>
        <section>
            <hr/>
            <h2>Education</h2>
            <article>
                <h4></h4>
                <h5></h5>

                <p></p>
            </article>
        </section>
        <section>
            <hr>
            <h2>Open Source</h2>
            <article>
                <h4>NFeature</h4>

                <p><a href="github.com">github.com</a></p>
            </article>
        </section>
        <section>
            <hr>
            <h2>Currently Interested In</h2>
            <article>
                <p>JavaScript</p>
            </article>
        </section>
        <section>
            <hr/>
            <h2>Selected Books</h2>
            <article>
                <p>The Art of Programming, JK Tolkien</p>
            </article>
        </section>
        <section>
            <article>
                <hr>
                <a href="#top1" class="back-to-top">Back to top</a>
            </article>
        </section>
    </section>
</article>