a:focus {
    outline: 5px auto rgb(230, 240, 248);
    outline-offset: 2px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ol, ul {
    padding: 0 0 0 1.3rem;
}

ol li {
    list-style: decimal inside;
    line-height: 2rem;
}
